{% extends 'base.html.twig' %}

{% block title %}Edit Informations{% endblock %}

{% block body %}
    <h1>Edit Informations</h1>

    {{ include('informationscrud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('informationscrud_index') }}">back to list</a>

    {{ include('informationscrud/_delete_form.html.twig') }}
{% endblock %}
